@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sacramento&display=swap');


.header_wrapper {
    /* background-color: bisque; */
    position: relative;
    z-index: 1;
    margin-top: 80px;
    flex-direction: row !important;
    padding: 80px 15% 0 15%;
    overflow: hidden;
}

.header_wrapper::after {
    position: absolute;
    top: 20%;
    left: 10%;
    /* content:'' ; */

    height: 100%;
    width: 100%;
    background-image: url(./../../assets/image1.jpg);
    z-index: -1;
    opacity: 0.6;
    background-repeat: no-repeat;

}

.header_content {
    height: 100%;
    width: 70%;
    /* padding-top: 120px; */
}

.header_content h3 {
    color: rgb(180, 106, 21);
    font-family: 'Sacramento' !important;
    font-size: 28px;
}

.header_content h1 {
    font-size: 40px;
    color: navy;
    line-height: 70px;
    margin: 20px 0;
}

.header_content p {
    font-size: 18px;
    color: black;
}

.header_image {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header_image {
    height: 100%;
    width: 100%;
}

.header_element {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    width: 40%;

}

.header_element img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 100px;
    z-index: -1;
}

#element2 {
    height: 800px;
    width: 750px;
    z-index: -1;
    position: absolute;
    top: -50px;
    right: -50px;
}

#element2::after {
    /* content: '' ; */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px dashed green;
    border-radius: 50%;
}

/* .header_element1 {
    position: absolute;
    top: 120px;
    left: 0;
    
}

.header_element2 {
    position: absolute;
    top: 120px;
    left: 0;
} */
/* 
@keyframes Anim_move_x{
    0%{
        transform: translateX(0);

    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(10px);
    }
} */
@media screen and (max-width:1600px) {
    #element2 {
        width: 37%;
    }

    .header_element {
        width: 38%;
    }

    .header_content h1 {
        font-size: 50px;
        line-height: 60px;

    }
}

@media screen and (max-width:1200px) {
    .header_image {
        width: 50%;

    }
}

@media screen and (max-width:900px) {
    #element2 {
        display: none;
    }
    .header_wrapper::after {
        display: none;
    }

    .header_wrapper {
        flex-direction: column !important;
    }

    .header_content {
        width: 100%;
    }

    .header_element {
        width: 100%;
        top: 55%;
        overflow: visible;
    }
    .header_element  img{
        border-radius: 0%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    .header_content h1{
        font-size: 8vw;
        line-height: 10vw;
    }
}
@media screen and (max-width:500px) {
.header_image{
    width: 100%;
}
.header_image img{
    width: 100%;

}
.header_wrapper{
    padding: 0 15% 0 15% !important
}
}